# Introduction to Pandas

**pandas** is a Python package providing fast, flexible, and expressive data structures designed to work with *relational* or *labeled* data both. It is a fundamental high-level building block for executing practical, real world data analysis in Python. 

pandas is well suited for:

- Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet
- Ordered and unordered (not necessarily fixed-frequency) time series data.
- Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels
- Any other form of observational / statistical data sets. The data actually need not be labeled at all to be placed into a pandas data structure


Key features:
    
- Easy handling of **missing data**
- **Size mutability**: columns can be inserted and deleted from DataFrame and higher dimensional objects
- Automatic and explicit **data alignment**: objects can be explicitly aligned to a set of labels, or the data can be aligned automatically
- Powerful, flexible **group by functionality** to perform split-apply-combine operations on data sets
- Intelligent label-based **slicing, fancy indexing, and subsetting** of large data sets
- Intuitive **merging and joining** data sets
- Flexible **reshaping and pivoting** of data sets
- **Hierarchical labeling** of axes
- Robust **IO tools** for loading data from flat files, Excel files, databases, and HDF5
- **Time series functionality**: date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging, etc.

## Installing and Using Pandas

Installation of Pandas on your system requires NumPy to be installed, and if building the library from source, requires the appropriate tools to compile the C and Cython sources on which Pandas is built.
Details on this installation can be found in the [Pandas documentation](http://pandas.pydata.org/).

Once Pandas is installed, you can import it and check the version:

In [2]:
import pandas
pandas.__version__

'1.4.2'

# Introducing Pandas Objects

At the very basic level, Pandas objects can be thought as enhanced versions of NumPy structured arrays in which the rows and columns are identified with labels rather than simple integer indices.
As we will see during the course of this chapter, Pandas provide a host of useful tools, methods, and functionality on top of the basic data structures, but nearly everything that follows will require an understanding of what these structures are.
Thus, before we go any further, let's introduce these three fundamental Pandas data structures: the ``Series``, ``DataFrame``, and ``Index``.

We will start our code sessions with the standard NumPy and Pandas imports:

In [3]:
import numpy as np
import pandas as pd

### Series

A **Series** is a single vector of data (like a NumPy array) with an *index* that labels each element in the vector.

In [4]:
c=pd.Series([100,200,800,600])
c

0    100
1    200
2    800
3    600
dtype: int64

If an index is not specified, a default sequence of integers is assigned as the index. A NumPy array comprises the values of the `Series`, while the index is a pandas `Index` object.

In [5]:
c.values

array([100, 200, 800, 600], dtype=int64)

In [6]:
c.index

RangeIndex(start=0, stop=4, step=1)

We can assign meaningful labels to the index, if they are available:

In [12]:
ba=pd.Series([200,400,800,1000],
             index=['A','B','C','D'])
print(ba)

A     200
B     400
C     800
D    1000
dtype: int64

These labels can be used to refer to the values in the `Series`.

In [14]:
ba[0]
ba['C']

800

Notice that the indexing operation preserve the association between the values and the corresponding indices.

We can still use positional indexing if we wish.

In [17]:
ba.name='c'
ba.index.name='Data'
ba

Data
A     200
B     400
C     800
D    1000
Name: c, dtype: int64

We can give both the array of values and the index meaningful labels themselves:

In [18]:
np.log(ba)

Data
A    5.298317
B    5.991465
C    6.684612
D    6.907755
Name: c, dtype: float64

NumPy's math functions and other operations can be applied to Series without losing the data structure.

In [19]:
ba[ba>800]

Data
D    1000
Name: c, dtype: int64

We can also filter according to the values in the `Series`:

In [20]:
ba[ba<1000]

Data
A    200
B    400
C    800
Name: c, dtype: int64

A `Series` can be thought of as an ordered key-value store. In fact, we can create one from a `dict`:

In [21]:
ba_dict={'F':200,'G':600,'H':300,'I':900}
print(ba_dict)
pd.Series(ba_dict)

{'F': 200, 'G': 600, 'H': 300, 'I': 900}

F    200
G    600
H    300
I    900
dtype: int64

### ``Series`` as generalized NumPy array

From what we've seen so far, it may look like the ``Series`` object is basically interchangeable with a one-dimensional NumPy array.
The essential difference is the presence of the index: while the Numpy Array has an *implicitly defined* integer index used to access the values, the Pandas ``Series`` has an *explicitly defined* index associated with the values.

This explicit index definition gives the ``Series`` object additional capabilities.

### Series as specialized dictionary

In this way, you can think of a Pandas ``Series`` a bit like a specialization of  Python dictionary.
A dictionary is a structure that maps arbitrary keys to set of arbitrary values, and ``Series`` is a structure which maps typed keys to a set of typed values.
This typing is important: just as the type-specific compiled code behind a NumPy array makes it more efficient than Python list for certain operations, the type information of a Pandas ``Series`` makes it much more efficient than Python dictionaries for certain operations.

The ``Series``-as-dictionary analogy can be made even more clear by constructing a ``Series`` object directly from Python dictionary:

## DataFrame: bi-dimensional Series with two (or more) indices

A DataFrame represents a tabular, spreadsheet-like data structure containing an ordered collection of columns, each of which can be a different value type (numeric, string, boolean, etc.). 

The DataFrame has both row and column index; it can be thought of as a dict of Series (all sharing the same index).

DataFrame's can be created in different ways. One of them is from dict's.

In [24]:
d={'Student':['ajay','vijay','surya','shekar'],
    'Year':[2013,2014,2015,2018],
    'Marks':[95,98,88,92]}
print(d)
data=pd.DataFrame(d)
data

{'Student': ['ajay', 'vijay', 'surya', 'shekar'], 'Year': [2013, 2014, 2015, 2018], 'Marks': [95, 98, 88, 92]}

  Student  Year  Marks
0    ajay  2013     95
1   vijay  2014     98
2   surya  2015     88
3  shekar  2018     92

To change the order of the columns:

In [31]:
df=pd.DataFrame(d,columns=['Year','Student','Marks'])
df

   Year Student  Marks
0  2013    ajay     95
1  2014   vijay     98
2  2015   surya     88
3  2018  shekar     92

An `index` can be passed (as with Series), and passing column names not existing, will result in missing data.

Assigning values to new columns is easy

In [32]:
df['average']=100/df.Marks
df

   Year Student  Marks   average
0  2013    ajay     95  1.052632
1  2014   vijay     98  1.020408
2  2015   surya     88  1.136364
3  2018  shekar     92  1.086957

In [34]:
df['sum']=pd.Series(range(5),index=[0,1,2,3,4])
df

   Year Student  Marks   average  sum
0  2013    ajay     95  1.052632    0
1  2014   vijay     98  1.020408    1
2  2015   surya     88  1.136364    2
3  2018  shekar     92  1.086957    3

Passing a dicts where the values are dicts is also possible

In [35]:
df.to_dict()

{'Year': {0: 2013, 1: 2014, 2: 2015, 3: 2018},
 'Student': {0: 'ajay', 1: 'vijay', 2: 'surya', 3: 'shekar'},
 'Marks': {0: 95, 1: 98, 2: 88, 3: 92},
 'average': {0: 1.0526315789473684,
  1: 1.0204081632653061,
  2: 1.1363636363636365,
  3: 1.0869565217391304},
 'sum': {0: 0, 1: 1, 2: 2, 3: 3}}

In [36]:
pd.DataFrame(df.to_dict())

   Year Student  Marks   average  sum
0  2013    ajay     95  1.052632    0
1  2014   vijay     98  1.020408    1
2  2015   surya     88  1.136364    2
3  2018  shekar     92  1.086957    3

# Operating on Data in Pandas

One of the essential pieces of NumPy is the ability to perform quick element-wise operations, both with basic arithmetic (addition, subtraction, multiplication, etc.) and with more sophisticated operations (trigonometric functions, exponential and logarithmic functions, etc.).
Pandas inherits much of this functionality from NumPy, and the ufuncs are key to this.

Pandas includes a couple useful twists, however: for unary operations like negation and trigonometric functions, these ufuncs will *preserve index and column labels* in the output, and for binary operations such as addition and multiplication, Pandas will automatically *align indices* when passing the objects to the ufunc.
This means that keeping the context of data and combining data from different sources–both potentially error-prone tasks with raw NumPy arrays–become essentially foolproof with Pandas.
We will additionally see the well-defined operations between one-dimensional ``Series`` structures and two-dimensional ``DataFrame`` structures.

## Ufuncs: Index Preservation

Because Pandas is designed to work with NumPy, any NumPy ufunc will work on Pandas ``Series`` and ``DataFrame`` objects.
Let's start by defining a simple ``Series`` and ``DataFrame`` on which to demonstrate this:

In [63]:
rng=np.random.RandomState(10)
ser=pd.Series(rng.randint(0,10,4))
ser

0    9
1    4
2    0
3    1
dtype: int32

In [64]:
dfr=pd.DataFrame(rng.randint(0,10,(5,4)),
                columns=['A','B','C','D'])
dfr

   A  B  C  D
0  9  0  1  8
1  9  0  8  6
2  4  3  0  4
3  6  8  1  8
4  4  1  3  6

If we apply a NumPy ufunc on either of these objects, the result will be another Pandas object *with the indices preserved:*

In [65]:
np.exp(ser)

0    8103.083928
1      54.598150
2       1.000000
3       2.718282
dtype: float64

Or, for a slightly more complex calculation:

In [66]:
np.sin(dfr*np.pi/4)

              A             B             C             D
0  7.071068e-01  0.000000e+00  7.071068e-01 -2.449294e-16
1  7.071068e-01  0.000000e+00 -2.449294e-16 -1.000000e+00
2  1.224647e-16  7.071068e-01  0.000000e+00  1.224647e-16
3 -1.000000e+00 -2.449294e-16  7.071068e-01 -2.449294e-16
4  1.224647e-16  7.071068e-01  7.071068e-01 -1.000000e+00

## Universal Functions: Index Alignment

For binary operations on two ``Series`` or ``DataFrame`` objects, Pandas will align indices in the process of performing the operation.
This is very convenient when working with incomplete data, as we'll see in some of the examples that follow.

### Index alignment in Series

As an example, suppose we are combining two different data sources, and find only the top three US states by *area* and the top three US states by *population*:

In [38]:
area=pd.Series({'Alaska':1723337,'Texas':695662,'California':423967},name='area')
population=pd.Series({'California':38332521,'Texas':26448193,'NewYork':19651127},name='population')
print(area)
population

Alaska        1723337
Texas          695662
California     423967
Name: area, dtype: int64

California    38332521
Texas         26448193
NewYork       19651127
Name: population, dtype: int64

Let's see what happens when we divide these to compute the population density:

In [39]:
population/area

Alaska              NaN
California    90.413926
NewYork             NaN
Texas         38.018740
dtype: float64

The resulting array contains the *union* of indices of the two input arrays, which could be determined using standard Python set arithmetic on these indices:

In [40]:
area.index|population.index

C:\Users\admin\AppData\Local\Temp\ipykernel_18740\3737809038.py:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  area.index|population.index

Index(['Alaska', 'California', 'NewYork', 'Texas'], dtype='object')

In [41]:
A=pd.Series([2,4,6],index=[0,1,2])
B=pd.Series([1,3,5],index=[1,2,3])
print(A)
print(B)
A+B

0    2
1    4
2    6
dtype: int64
1    1
2    3
3    5
dtype: int64

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

If using NaN values is not the desired behavior, the fill value can be modified using appropriate object methods in place of the operators.
For example, calling ``A.add(B)`` is equivalent to calling ``A + B``, but allows optional explicit specification of the fill value for any elements in ``A`` or ``B`` that might be missing:

In [42]:
A.add(B,fill_value=0)

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

The following table lists Python operators and their equivalent Pandas object methods:

| Python Operator | Pandas Method(s)                      |
|-----------------|---------------------------------------|
| ``+``           | ``add()``                             |
| ``-``           | ``sub()``, ``subtract()``             |
| ``*``           | ``mul()``, ``multiply()``             |
| ``/``           | ``truediv()``, ``div()``, ``divide()``|
| ``//``          | ``floordiv()``                        |
| ``%``           | ``mod()``                             |
| ``**``          | ``pow()``                             |

In [55]:
series_a=pd.Series([np.nan,2.5,np.nan,3.5,4.5,np.nan],
                  index=['f','e','d','c','b','a'])
series_b=pd.Series(np.arange(len(series_a),dtype=np.float64),
                  index=['f','e','d','c','b','a'])

In [56]:
series_a

f    NaN
e    2.5
d    NaN
c    3.5
b    4.5
a    NaN
dtype: float64

In [57]:
series_b

f    0.0
e    1.0
d    2.0
c    3.0
b    4.0
a    5.0
dtype: float64

In [58]:
pd.Series(np.where(pd.isnull(series_a),series_b,series_a),index=series_a.index)

f    0.0
e    2.5
d    2.0
c    3.5
b    4.5
a    5.0
dtype: float64

In [60]:
series_a.combine_first(series_b)

f    0.0
e    2.5
d    2.0
c    3.5
b    4.5
a    5.0
dtype: float64